.switch {
  width: auto;
  z-index: 10000;

  input[type="checkbox"] {
    display: none;
  }
  h4 {
    display: block;
    margin-right: 1rem;
  }
  label {
    cursor: pointer;
    position: relative;
    width: auto;
    padding: 14px 24px;
    background: $switchGrey;
    border-radius: 50px;
  }
  .pointer {
    cursor: pointer;
    position: absolute;
    top: 0.156rem;
    left: 0.2rem;
    height: 24px;
    width: 24px;
    border-radius: 50px;
    background-color: $backgroundWhite;
    transition: 0.3s all ease-in-out;
  }
  input[type="checkbox"]:checked + label .pointer {
    transform: translateX(18px);
  }
  input[type="checkbox"]:checked + label {
    background: $blueAccent;
  }
}
