$blueAccent: rgb(38, 203, 245);
$background: #eeeeee;
$backgroundTile: #fcfcfc;
$whiteTile: rgb(250, 250, 250);
$cardDarkTile: rgb(239, 240, 245);
$Toggle: linear-gradient(90deg, hsl(210, 78%, 56%) to hsl(146, 68%, 55%));
$backgroundWhite: hsl(220, 4, 98);
$switchGrey: hsl(232, 15, 82);
